/* art.module.css */

.textContainer {
    height: 150vh;
    margin-top: -10vh;
    display: flex;
    overflow: hidden;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: 2rem;
  }
  
  .textRow {
    position: relative;
    white-space: nowrap;
    padding: 0;
    will-change: transform;
    display: flex;
    flex-direction: row;
  }
  
.textItem{
    font-family: var(--art-font), var(--default-font);
    font-size: 10rem;
    display: inline-block;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-position: center center;
}

.picasso{
    background-image: url("../../public/rotation/picasso.jpg");
}
  
.goldfish{
background-image: url("../../public/rotation/goldfish.jpg");
}

.kiss{
    background-image: url("../../public/rotation/kiss.jpg");
}

.vangogh{
    background-image: url("../../public/rotation/vangogh.jpg");
}

.pearlearing{
    background-image: url("../../public/rotation/pearlearing.jpg");
}

.venus{
    background-image: url("../../public/rotation/venus.jpg");
}

.star{
    background-image: url("../../public/rotation/star.jpg");
}
