:root{
  --art-font: 'JosefinSans';
  /*--primary-font: 'Monalisa Font';*/
  --primary-font: 'Satoshi';
  --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  --background-color:  rgb(230, 226, 213);
  --grey-2: #555555;
  --grey-1: #8f8f8f;
  --yellow-1: rgba(122, 107, 58, 0.333);
  --orange-1: 	#564b28;
  --orange-2: 	#292413;

  --menu-color: var(--yellow-1);
  --menu-letter: var(--orange-1);
  --menu-hover: var(--orange-2);

  --font-size: 15px;

  --line-thickness: 4px;

}


body {
  margin: 0;
  font-family:var(--primary-font), var(--default-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  width: calc(100vw - 1rem);
  cursor: pointer;
  color: var(--menu-letter);
}


::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--grey-1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--grey-2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
	font-family: 'JosefinSans';
	src: local('JosefinSans'), url(../../public/fonts/JosefinSans-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Monalisa Font';
	src: local('Monalisa Font'), url(../../public/fonts/Monolisa\ Font.ttf) format('truetype');
}

@font-face {
	font-family: 'Satoshi';
	src: local('Satoshi Regular'), url(../../public/fonts/Satoshi-Regular.otf) format('truetype');
  font-weight: normal;
}

@font-face {
	font-family: 'Satoshi';
	src: local('Satoshi Light'), url(../../public/fonts/Satoshi-Light.otf) format('truetype');
  font-weight:lighter;
}

@font-face {
	font-family: 'Satoshi';
	src: local('Satoshi Bold'), url(../../public/fonts/Satoshi-Light.otf) format('truetype');
  font-weight:bold;
}

